{{!-- <h4>Social</h4> --}}
<div class="row">
  <div class="col-md-12">
    <a href="{{twitter.url}}">
      <i class="{{twitter.iconClass}}"></i> @{{twitter.tag}}
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <a href="{{blog.url}}">
      <i class="{{blog.iconClass}}"></i> {{blog.display}}
    </a>
  </div>
</div>
